@use "../abstracts/" as *;

.menu {
    background-image: $bg-linear;

    .swiper {
        height: 100vh;

        @include mobile {
            height: auto;
        }

        .menu__slide {
            @include flex(center, center);
            flex-direction: column;
            text-align: center;
            height: 100%;
            gap: $space-4;
            padding: $space-5 0;

            @include mobile {
                gap: $space-3;
            }

            &__img {
                width: 60%;
                max-width: 600px;
                aspect-ratio: 1 / 1;
                background: #ccc;
                margin: 0 auto;

                @include mobile {
                    width: 80%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            &__title {
                font-family: $font-heading;
                color: $main-color;
                font-size: clamp(2rem, 5vw, 4rem);
            }
        }

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            background-color: #ccc;
            opacity: 1;

            &-active {
                background-color: $main-color;
            }
        }
    }
}
